alembic==1.8.0
fastapi==0.88.0
sqlmodel==0.0.6
uvicorn==0.18.2
psycopg2-binary==2.9.3
python-dotenv==0.20.0
spacy==3.4.1
ru-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.4.0/ru_core_news_sm-3.4.0-py3-none-any.whl
beautifulsoup4==4.11.1
python-multipart==0.0.5
tenacity==8.0.1
SQLAlchemy==1.4.35
ruts==0.8.1

