alembic==1.8.1
fastapi==0.78.0
sqlmodel==0.0.6
uvicorn==0.18.2
psycopg2-binary==2.9.3
python-dotenv==0.20.0
spacy==3.3.0
ru-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.3.0/ru_core_news_sm-3.3.0-py3-none-any.whl
tenacity==8.0.1
emails==0.6
email-validator==1.2.1
SQLAlchemy==1.4.35
pytest==7.1.2
pytest-cov==3.0.0
